#pragma once

// Introdueix la configuració de la xarxa WIFI on es conectarà la placa
#define WIFI_SSID     "SSID"
#define WIFI_PASSWORD "PASS"
#define WIFI_TYPE "type"        // ent = Enterprise (EAP) / <blank> Basic WPA2 WIFI
#define WIFI_USER "username"    // User for EAP WiFi connections

// URL de la API de Supabase per la consulta de configuracions de dispositius:
#define SUPABASE_API_URL "https://xxxxxxxxxx.supabase.co/rest/v1/sensor-config"
#define SUPABASE_API_TOKEN "sb_publishable_key"